{% extends 'base.html' %}


{% block head %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="../js/canvas.js"></script>
<script type="text/javascript" src="../js/newmqtt.js"></script>
<script type="text/javascript" src="../js/postToBackend.js"></script>
<script type="text/javascript" src="../js/paho-mqtt.js"></script>






{% block title %} {{embed}} {% endblock %}

{% endblock %}


{% block content %}


<div id = "CanvAndBG">
    <canvas id="bg"></canvas>
 <canvas id="canvas"></canvas>
</div>


<div id = "buttons">
    <button onclick="dra.createAnchor(100,100)">Create</button>
    <button onclick="dra.deleteRectangle()">Del</button>
    <button onclick="PostToBackend()">Go for it baby</button>
     <button onclick="connect()">MQTT</button>
    <button onclick="dra({{ anchors|safe }})">dra</button>
</div>

<script>
    dra({{ anchors|safe }});
    connect();

</script>



{% endblock %}
